################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/ZwierzePlus/FileContentIndex/15d1974a-11a9-4a24-84ed-5af147c52856.vsidx
/.vs/ZwierzePlus/FileContentIndex/73430835-06ad-41dc-90d3-e3f7869e8f85.vsidx
/.vs/ZwierzePlus/FileContentIndex/82519eed-a30f-4e91-abd3-c84e37b3cfcc.vsidx
/.vs/ZwierzePlus/FileContentIndex/51a780ff-548d-492a-977b-b772331a9e64.vsidx
/.vs/ZwierzePlus/FileContentIndex/b2136547-037c-49c1-84e9-54fa0172b223.vsidx
/.vs/ZwierzePlus/FileContentIndex/18456e1e-6d8e-4d85-b622-a5f357234ba9.vsidx
/.vs/ZwierzePlus/FileContentIndex/585e4d45-a1df-454a-8a2e-abd67616a59a.vsidx
