################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/ZwierzePlus/FileContentIndex/15d1974a-11a9-4a24-84ed-5af147c52856.vsidx
