@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        background-image: url('https://media-eu.husse.com/media/7d/1c/f9/1636116400/d_dog_cat_together_home_2.jpg');
        background-position: center; /* Ustawia obrazek na środku tła */
        background-size: cover; /* Dostosuj rozmiar obrazka do wielkości okna przeglądarki */
        background-repeat: no-repeat; /* Zapobiega powtarzaniu obrazka */
        color: white; /* Kolor tekstu na tle obrazka */
        text-align: center; /* Wyśrodkuj tekst na środku strony */
        overflow-x: hidden;
    }

    h1 {
        font-weight: bold; /* Pogrubić tekst */
        display: inline-block; /* Pozwala na ustawienie obramowania wokół tekstu */
        border: 1px solid #333; /* Kolor obramowania */
        background-color: #333; /* Kolor wypełnienia obramowania */
        margin: 10px; /* Dodaj margines wokół tekstu */
    }

    p {
        font-size: 2.5em; /* Zmiana rozmiaru tekstu */
        display: inline-block; /* Pozwala na ustawienie obramowania wokół tekstu */
        border: 1px solid #333; /* Kolor obramowania */
        background-color: #333; /* Kolor wypełnienia obramowania */
        margin: 10px; /* Dodaj margines wokół tekstu */
    }
</style>

<div class="text-center">
    <h1 class="display-4">Schronisko dla zwierząt w Białymstoku</h1>
    <p>Adopcja to lepsza opcja!</p>
</div>